services:
  app:
    image: ${APP_IMAGE}
    ports:
      - "${APP_PORT}:${PORT}"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - 1panel-network

networks:
  1panel-network:
    external: true